/* GENERIC VARIABLES OF 60-30-10 colors */
:root {
  --main-color: rgb(179, 226, 241);
  --secondary-color: black;
  --accent-color: #EE6AAC;
}

/* Sets up page */
* {
  padding: 0;
  margin: 0;
}

/* entire code is set to window's size */
html,
body {
  height: 100vh;
  width: 100vw;
}


/* Designs the title */
h1 {
  text-decoration: underline;
  font-size: 60px;
  -webkit-text-stroke: 2px var(--secondary-color);
  color: var(--accent-color);

}


/* Overall background of page */
body {
  background-color: var(--main-color);
}


/* The div containing majority of the tags, generic css- centers and aligns */
#main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}




/* Input box where you write the letter guessing */

#letter {

  display: flex;
  text-align: center;
  background-color: var(--secondary-color);
  outline: 2px solid var(--accent-color);
  color: white;
  font-family: monospace;

}

/* Button that will allow you to play again */
#button {
  width: 150px;
  height: 40px;
  border: double;
  white-space: normal;
  word-wrap: break-word;
  background-color: var(--secondary-color);
  color: var(--accent-color);
}



/* Answer/ secret word revealed when you lose */
#word {
  border: double;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: monospace;
}


/* Colors all p tags */
p {
  color: var(--accent-color);
}

/* Sets length to all images */
img {
  height: 40vh;
}

/* h2 tag that reveals who has top score and what their score is */
h2 {
  font-size: 200%;
  -webkit-text-stroke: 2px var(--secondary-color);
  color: var(--accent-color);
}

/* Css for resetting the local storage */
#reset {
  color: var(--accent-color);
  width: 150px;
  height: 20px;
  border: double;
  margin-top: 20px;
  background-color: var(--secondary-color);
  outline: 2px
}